# Ignore les fichiers de node_modules
node_modules/

# Ignore les fichiers de build
dist/
build/

# Ignore les fichiers de configuration spécifiques
*.config.js
*.config.mjs
*.config.ts

# Ignore les fichiers de hello_word
tests/
src/app/api/hello_word/

# Ignore les fichiers de type log
*.log

# Ignore les fichiers de type cache
.cache/
*.tmp

# Ignore les fichiers de configuration de Prettier
.prettierrc
.prettierignore